.content-section {
  box-sizing: border-box;
  width: 1100px;
  min-height: 100px;
  margin: auto;
}

.header {

}

.navigation{

}

.logo{
    
}

.addres{

}

.cover {

}

.title{

}

.title-1{

}

.title-2{

}

.title-3{

}

.description{

}

.bet{

}

.lots {
  padding: 180 24 120;
}

.lot{

}

.lot-1{

}

.lot-2{

}

.lot-3{

}

.about {
  padding: 120 24 180;
}

.logo-white{

}

.background-logo-white{

}

.footer {
  padding: 180 0 0 0;
}

.social-networks{

}
